<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239647718081-16ur560khfjtnvo5om8ct9bg718erujn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239647718081-16ur560khfjtnvo5om8ct9bg718erujn</string>
	<key>API_KEY</key>
	<string>AIzaSyC4FrWWdmdjnoAcvJzJkPiIC4llW1TBPks</string>
	<key>GCM_SENDER_ID</key>
	<string>516348079542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.westerops.donguMobile</string>
	<key>PROJECT_ID</key>
	<string>dongumobile</string>
	<key>STORAGE_BUCKET</key>
	<string>dongumobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516348079542:ios:47a9045c94ccce4532a517</string>
</dict>
</plist>
